SPRING_DATASOURCE_URL=jdbc:mysql://HOST:3306/taxi_app
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=cambia-esto
JWT_SECRET=genera-una-clave-larga
GOOGLE_OAUTH_CLIENT_ID=667307810414-8tsvkpqdtaoc59oea7umg2ffeddflhbo.apps.googleusercontent.com
GOOGLE_MAPS_API_KEY=
APP_SECURITY_BETA_OPEN=true
PORT=8080
